\.idea/
\.vscode/
ls-i
dir-i
vdir-i
neovim/.netrwhist
bin/stack
bin/idea
music/mpd/mpd.conf
bin/amm
bin/ji2ts
bin/kubectl
fish_variables
music/beets/state.pickle
fonts/.uuid
fonts/PragmataPro*
bin/chromium
bin/jetbrains-toolbox
bin/ji2ts.conf
bin/ji2ts.jar
bin/navi
