\.idea/
\.vscode/
__pycache__
ls-i
dir-i
vdir-i
neovim/.netrwhist
bin/stack
bin/idea
music/mpd/mpd.conf
bin/amm
bin/ji2ts
bin/kubectl
fish_variables
music/beets/state.pickle
fonts/.uuid
fonts/PragmataPro*
bin/chromium
bin/jetbrains-toolbox
bin/ji2ts.conf
bin/ji2ts.jar
bin/navi
bin/export-timesheet

# Ignore all of emacs.d, which is mostly compiled/downloaded scripts.
emacs/emacs.d/*
*.elc
# But don't ignore these specific locations.
!emacs/emacs.d/eshell/alias
!emacs/emacs.d/lisp
!emacs/emacs.d/site-lisp
!emacs/emacs.d/snippets
!emacs/emacs.d/init.el
!emacs/emacs.d/custom.el
!emacs/emacs.d/themes
!emacs/emacs.d/config.org
!emacs/emacs.d/word-list
bin/org2ts
